<p id="notice"><%= notice %></p>

<h1>Consultors</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Telefone</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @consultors.each do |consultor| %>
      <tr>
        <td><%= consultor.nome %></td>
        <td><%= consultor.telefone %></td>
        <td><%= consultor.email %></td>
        <td><%= link_to 'Show', consultor %></td>
        <td><%= link_to 'Edit', edit_consultor_path(consultor) %></td>
        <td><%= link_to 'Destroy', consultor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Consultor', new_consultor_path %>
