<p id="notice"><%= notice %></p>

<h1>Projeto Colaboradors</h1>

<table>
  <thead>
    <tr>
      <th>Projeto</th>
      <th>Colaborador</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projeto_colaboradors.each do |projeto_colaborador| %>
      <tr>
        <td><%= projeto_colaborador.projeto_id %></td>
        <td><%= projeto_colaborador.colaborador_id %></td>
        <td><%= link_to 'Show', projeto_colaborador %></td>
        <td><%= link_to 'Edit', edit_projeto_colaborador_path(projeto_colaborador) %></td>
        <td><%= link_to 'Destroy', projeto_colaborador, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Projeto Colaborador', new_projeto_colaborador_path %>
